<html>
<head>
<link rel="stylesheet" href="/main.css" />
<title>Tutorial 7 - Vue.js</title>
</head>
<body>
<h1>Tutorial 7</h1>
<script>
console.log("Imports Map");  
</script>
<script type="importmap">
    
  {
    "imports": {
      "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js"
    }
  }
</script>
<script type="module">
import { createApp, ref } from 'vue'
console.log("Before App Create");
createApp({
  setup() {
    let id = 0

    const newTodo = ref('')
    const todos = ref([
      { id: id++, text: 'Learn HTML' },
      { id: id++, text: 'Learn JavaScript' },
      { id: id++, text: 'Learn Vue' }
    ])

    function addTodo() {
      // append item
      todos.value.push({id: id++, text: newTodo.value});
      // reset the input value to blank
      newTodo.value='';
    }

    function removeTodo(todo) {
      todos.value=todos.value.filter((t) => t !== todo);
    }

    return {
      newTodo,
      todos,
      addTodo,
      removeTodo
    }
  }
}).mount('#app')
console.log("After App Mount");
</script>

<div id="app">
  <form @submit.prevent="addTodo">
    <input v-model="newTodo" required placeholder="new todo">
    <button>Add Todo</button>
  </form>
  <ul>
    <li v-for="todo in todos" :key="todo.id">
      {{ todo.text }}
      <button @click="removeTodo(todo)">X</button>
    </li>
  </ul>
</body>
</html>
